<div class="header">
    <noscript>This page does not work without Javascript!</noscript>

    <div class="navbar">
        <div class="logo navbar-brand">
            <img src="src/images/logo.png"/>
        </div>

        <nav>
            <ul>
                <li>
                    <a ui-sref="root">
                        <img class="icon" src="src/images/icons/planner.svg"/>
                        <p>Agenda</p>
                    </a>
                </li>

                <li>
                    <a ui-sref="settings">
                        <img class="icon" src="src/images/icons/login.svg"/>

                        <p>Inloggen</p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>